.book-tour{
    border: 1px dotted;
    padding: 20px 20px;
}
.book-tour h5{
    color: #48cae4;
}

.book-tour .date{
    margin: 20px 0;
}

.book-tour .adults{
    margin-bottom: 20px;
}

.book-tour .children{
    margin-bottom: 20px;
}

.button button{
    padding: 15px 40px;
    border-radius: 5px;
    font-size: 15px;
    font-weight: 500;
}

.button .btn-contact{
    border: 1px solid #48cae4;
    background-color: transparent;
    color: #48cae4;
    margin-right: 30px;
}

.button .btn-request{
    border: 1px solid #48cae4;
    background-color: #48cae4;
    color: #fff;
}